# Folders and compiled files
classes/
checkouts/
target/
out/

# Ignore local project-specific config
.clj-kondo/.cache/
.lsp/
.calva/

# Ignore the REPL files
.nrepl-port
.prepl-port

# Ignore Lein files
.lein-env
.lein-failures

# Ignore config.edn
# resources/config.edn

# Ignore databases
# clothes.db
test.db